# Code owners for all files
*       @devschile/org

# Scripts owners
scripts/18.js @juanbrujo
test/18.test.js @juanbrujo
scripts/agencias.js @juanbrujo
test/agencias.test.js @juanbrujo
scripts/alegria.js @gmq
test/alegria.test.js @gmq
scripts/assimov.js @dohkodev
test/assimov.test.js @dohkodev
scripts/avisar.js @eseceve
test/avisar.test.js @eseceve
scripts/awesome.js @juanbrujo
test/awesome.test.js @juanbrujo
scripts/beneficios.js @juanbrujo
test/beneficios.test.js @juanbrujo
scripts/bip.js @juanbrujo
test/bip.test.js @juanbrujo
scripts/bitbucket-status.js @raerpo
test/bitbucket.test-status.js @raerpo
scripts/bola8.js @juanbrujo
test/bola8.test.js @juanbrujo
scripts/calendario.js @juanbrujo
test/calendario.test.js @juanbrujo
scripts/ceachei.js @juanbrujo
test/ceachei.test.js @juanbrujo
scripts/citas.js @juanbrujo
test/citas.test.js @juanbrujo
scripts/clima.js @juanbrujo
test/html/clima-* @juanbrujo
test/clima.test.js @juanbrujo
scripts/coinmarketcap.js @hectorpalmatellez
test/coinmarketcap.test.js @hectorpalmatellez
scripts/como-donar.js @juanbrujo
test/como.test-donar.js @juanbrujo
scripts/concurso.js @juanbrujo
test/concurso.test.js @juanbrujo
scripts/correos.js @hectorpalmatellez
test/correos.test.js @hectorpalmatellez
scripts/dameunaclave.js @quest
test/dameunaclave.test.js @quest
scripts/dameunaexcusa.js @juanbrujo
test/dameunaexcusa.test.js @juanbrujo
scripts/dameunafortuna.js @juanbrujo
test/dameunafortuna.test.js @juanbrujo
scripts/dameunatarjeta.js @quest
test/html/dameunatarjeta-* @quest
test/dameunatarjeta.test.js @quest
scripts/dameunbackend.js @juanbrujo
test/dameunbackend.test.js @juanbrujo
scripts/dameunfrontend.js @juanbrujo
test/dameunfrontend.test.js @juanbrujo
scripts/dameunkeldor.js @juanbrujo
test/dameunkeldor.test.js @juanbrujo
scripts/dameunloto.js @raerpo
test/dameunloto.test.js @raerpo
scripts/dameunpinned.js @inawrath
test/dameunpinned.test.js @inawrath
scripts/enelespacio.js @juanbrujo
test/enelespacio.test.js @juanbrujo
scripts/ephemeral.js @lgaticaq
test/ephemeral.test.js @lgaticaq
scripts/error-handler.js @lgaticaq
test/error.test-handler.js @lgaticaq
scripts/errorcodes.js @juanbrujo
test/errorcodes.test.js @juanbrujo
scripts/feed.js @iamravenous
test/feed.test.js @iamravenous
scripts/finvox.js @juanbrujo
test/finvox.test.js @juanbrujo
scripts/flipper.js @hectorpalmatellez
test/flipper.test.js @hectorpalmatellez
scripts/forvo-golden.js @juanbrujo
test/forvo.test-golden.js @juanbrujo
scripts/fue-rematado.js @quest
test/fue.test-rematado.js @quest
scripts/gardel.js @hectorpalmatellez
test/gardel.test.js @hectorpalmatellez
scripts/github-status.js @juanbrujo
test/github.test-status.js @juanbrujo
scripts/gmq.js @lgaticaq
test/gmq.test.js @lgaticaq
scripts/gold.js @lgaticaq
test/gold.test.js @lgaticaq
scripts/golden-escorts.js @juanbrujo
test/golden.test-escorts.js @juanbrujo
scripts/gotico.js @davidlaym
test/gotico.test.js @davidlaym
scripts/guruguru.js @quest
test/guruguru.test.js @quest
scripts/horario-verano.js @juanbrujo
test/horario.test-verano.js @juanbrujo
scripts/horoscopo.js @juanbrujo
test/horoscopo.test.js @juanbrujo
scripts/iii.js @madkoding
test/iii.test.js @madkoding
scripts/imdb.js @iamravenous
test/imdb.test.js @iamravenous
scripts/invierte.js @juanbrujo
test/invierte.test.js @juanbrujo
scripts/kaomoji.js @hectorpalmatellez
test/kaomoji.test.js @hectorpalmatellez
scripts/karma.js @gmq
test/karma.test.js @gmq
scripts/kendrick.js @pinceleart
test/kendrick.test.js @pinceleart
scripts/kickstarter.js @edades
test/kickstarter.test.js @edades
scripts/knasta.js @juanbrujo
test/knasta.test.js @juanbrujo
scripts/larger.js @juanbrujo
test/larger.test.js @juanbrujo
scripts/lasagnaindex.js @juanbrujo
test/lasagnaindex.test.js @juanbrujo
scripts/last-fm.js @s0wk
test/last.test-fm.js @s0wk
scripts/lavin.js @raulghm
test/lavin.test.js @raulghm
scripts/lmgtfy.js @iamravenous
test/lmgtfy.test.js @iamravenous
scripts/map.js @juanbrujo
test/map.test.js @juanbrujo
scripts/match.js @juanbrujo
test/match.test.js @juanbrujo
scripts/math.js @juanbrujo
test/math.test.js @juanbrujo
scripts/multas-empresa.js @lgaticaq
test/multas.test-empresa.js @lgaticaq
scripts/NaN.js @juanbrujo
test/NaN.test.js @juanbrujo
scripts/nasa.js @juanbrujo
test/nasa.test.js @juanbrujo
scripts/nosvimoh.js @pinceleart
test/nosvimoh.test.js @pinceleart
scripts/orionx.js @gmq
test/orionx.test.js @gmq
scripts/pegas.js @juanbrujo
test/html/pegas-* @juanbrujo
test/pegas.test.js @juanbrujo
scripts/pethappy.js @hectorpalmatellez
test/html/pethappy-* @hectorpalmatellez
test/pethappy.test.js @hectorpalmatellez
scripts/piropo.js @edades
test/piropo.test.js @edades
scripts/portadas.js @pottersys
test/portadas.test.js @pottersys
scripts/proximo-feriado.js @quest
test/proximo.test-feriado.js @quest
scripts/ql.js @juanbrujo
test/ql.test.js @juanbrujo
scripts/que_almorzar.js @juanbrujo
test/que_almorzar.test.js @juanbrujo
scripts/quefumar.js @juanbrujo
test/quefumar.test.js @juanbrujo
scripts/quozio.js @lgaticaq
test/quozio.test.js @lgaticaq
scripts/recetas.js @juanbrujo
test/html/recetas-* @juanbrujo
test/recetas.test.js @juanbrujo
scripts/rut.js @juanbrujo
test/rut.test.js @juanbrujo
scripts/saluda.js @juanbrujo
test/saluda.test.js @juanbrujo
scripts/sarcarmo.js @madkoding
test/sarcarmo.test.js @madkoding
scripts/siglas.js @juanbrujo
test/siglas.test.js @juanbrujo
scripts/signo-chino.js @raerpo
test/signo.test-chino.js @raerpo
scripts/slack-actions.js @gmq
test/slack.test-actions.js @gmq
scripts/steam.js @dohkodev
test/steam.test.js @dohkodev
scripts/subway-del-dia.js @juanbrujo
test/subway.test-del-dia.js @juanbrujo
scripts/superheroes.js @juanbrujo
test/superheroes.test.js @juanbrujo
scripts/temblor.js @juanbrujo
test/temblor.test.js @juanbrujo
scripts/thicc.js @hectorpalmatellez
test/thicc.test.js @hectorpalmatellez
scripts/timezone.js @juanbrujo
test/timezone.test.js @juanbrujo
scripts/torrent.js @juanbrujo
test/torrent.test.js @juanbrujo
scripts/tupoto.js @quest
test/tupoto.test.js @quest
scripts/tusecreto.js @juanbrujo
test/tusecreto.test.js @juanbrujo
scripts/twitter.js @madkoding
test/twitter.test.js @madkoding
scripts/uoct-golden.js @juanbrujo @davidlaym
test/uoct.test-golden.js @juanbrujo @davidlaym
scripts/uselessweb.js @quest
test/uselessweb.test.js @quest
scripts/vaporwave.js @alvaroveliz
test/vaporwave.test.js @alvaroveliz
scripts/votador.js @juanbrujo
test/votador.test.js @juanbrujo
scripts/vuelos-baratos.js @raerpo
test/vuelos.test-baratos.js @raerpo
scripts/wallets.js @hectorpalmatellez
test/wallets.test.js @hectorpalmatellez
scripts/whois.js @gmq
test/whois.test.js @gmq
scripts/word-blacklist.js @gmq
test/word.test-blacklist.js @gmq
scripts/yelp.js @juanbrujo
test/yelp.test.js @juanbrujo
